*.pyc
*~
affordance_template_server_protobuf/proto_gen/*
*.bak
qtcreator-build/*
*.user
*/CMakeFiles/*
*/catkin_generated/*
*/Makefile
*/*.cmake
*/cmake/*
build-*
stack.xml
*/build
*/manifest.xml
*/lib
*/bin
*/msg_gen
*/srv_gen

