*.pyc
*~
CMakeLists.txt
package.xml
Makefile
manifest.xml
affordance_template_server_protobuf/proto_gen/*
*.orig
*.bak
*/*.orig
qtcreator-build/*
*.user
*/CMakeFiles/*
*/catkin_generated/*
*/*.cmake
*/cmake/*
build-*
stack.xml
*/build
*/lib
*/bin
*/msg_gen
*/srv_gen
*/CMakeLists.txt
*/package.xml
*/Makefile
*/manifest.xml